h1 {
  color: red;
}
body {
  text-align: center;
}
.timerstart, .addseconds {
  background-color: white;
  border: 1px solid black;
  font-size: 15px;
  margin: 10px 0 0;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.4s;
}
#timerstart:hover, #addseconds:hover {
  background-color: black;
  color: white;
}
.timer {
  font-size: 40px;
  margin: 10px 0;
}
